language: node_js
sudo: false

node_js:
  - "6"
  - "8"
  - "10"
  
matrix:
  fast_finish: true
  
install:
 - npm install cybersource-rest-client
 - npm install

script:
 - bash test/sample_code_runner.sh
 - cat output.log

# For RoadRunner
# - npm test